@model IEnumerable<DOAN.Models.SanPham>

@{
    ViewBag.Title = "SpGiay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Main.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
}
<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Morden Design</p>
    <div class="pro-container">
        @foreach (var item in Model)
        {
            <div class="pro">
                <img src="@Html.DisplayFor(modelItem => item.HinhAnh)" alt="" />
                <div class="desc">
                    <span>@Html.DisplayFor(modelItem => item.TenSP)</span>
                    <div class="start">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                    <h4>GIÁ:@Html.DisplayFor(modelItem => item.GiaBan)</h4>
                    <div style="display:flex; justify-content:space-between">
                        <a class="btn btn-success" style="padding:1rem 2rem" href="@Url.Action("Detail", "MainPage", new { @id = item.MaSP, @strURL = Request.Url.ToString() })">chi tiết</a>
                        <a class="btn btn-success" style="padding:1rem 2rem" href="@Url.Action("ThemGioHang", "GioHang", new { @id = item.MaSP, @strURL = Request.Url.ToString() })">Đặt mua</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
