@model IEnumerable<DOAN.Models.SanPham>

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Main.css" rel="stylesheet" />
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
<body>


    <!-- prodetails -->
    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="image/products/f1.jpg" width="100%" id="MainImg" alt="" />

            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="image/products/f1.jpg" width="100%" class="small-img" alt="" />
                </div>
                <div class="small-img-col">
                    <img src="image/products/f2.jpg" width="100%" class="small-img" alt="" />
                </div>
                <div class="small-img-col">
                    <img src="image/products/f3.jpg" width="100%" class="small-img" alt="" />
                </div>
                <div class="small-img-col">
                    <img src="image/products/f4.jpg" width="100%" class="small-img" alt="" />
                </div>
            </div>
        </div>

        <div class="single-pro-details">
            @foreach (var i in Model)
            {
                <h6>@Html.DisplayFor(modelItem => i.TenSP)</h6>
                <h2>GIÁ:@Html.DisplayFor(modelItem => i.GiaBan)</h2>

            }
            <select>
                <option>Select Size</option>
                <option>XL</option>
                <option>XXl</option>
                <option>Small</option>
                <option>Large</option>
            </select>
            <input type="number" value="1" />
            <button>Add To Cart</button>
            <h4>Products Details</h4>
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, debitis fugit? Debitis aspernatur
                eaque modi blanditiis iusto! Suscipit officia beatae sit laudantium, nobis rem. Iure illo blanditiis
                voluptates a omnis perferendis ipsa minima aliquid quas atque, perspiciatis quidem ratione
                reiciendis molestias libero magnam voluptatem assumenda vero ex, eum labore consectetur?
            </span>
        </div>
    </section>

    <!-- new letter -->
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For NewsLetter</h4>
            <p>Get E-mails update about our latest shop and <span> special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address" />
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <!-- footer -->
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="image/logo.png" alt="" />
            <h4>Contact</h4>
            <p><strong>Address:</strong> 562 Wellington Road, Street 32, San Francisco.</p>
            <p><strong>Phone:</strong> +01 2222 365 /(+91) 012345 6789</p>
            <p><strong>hours:</strong> 10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-github-square"></i>
                    <i class="fab fa-youtube-square"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Term & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlists</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="image/pay/app.jpg" alt="" />
                <img src="image/pay/play.jpg" alt="" />
            </div>
            <p>Secured Payment Gateway</p>
            <img src="image/pay/pay.png" alt="" />
        </div>

    </footer>

</body>
</html>
